[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
pyxel = "*"
pyxel_extensions = {editable = true, ref = "v0.0.2", git = "https://github.com/gediminasz/pyxel-extensions.git"}

[requires]
python_version = "3.7"
