[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
pyxel = "*"
pyxel-extensions = {editable = true, git = "https://github.com/gediminasz/pyxel-extensions.git", ref = "master"}

[requires]
python_version = "3.7"
